:root {
  /*fonts*/
  --font-main: "Lato", sans-serif;
  --font-add: "Raleway", sans-serif;
  /*theme colors*/
  --c-main: #01996d;
  --c-nav: #292929;
  --c-text: #484848;
  --c-bg: #245852;
  --c-border: #d6d6d6;
  /*const colors*/
  --c-black: #000000;
  --c-white: #ffffff;

  --b-radius: 12px;
  --b-radius-btn: 4px;
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: var(--font-main);
}
h1 {
  margin: 0;
}
p {
  margin: 0;
}

.wrapper {
  max-width: 1920px;
  margin-inline: auto;
  position: relative;
  padding: 0 207px 0 207px;
}
.container {
  max-width: 1547px;
  width: 100%;
  margin-inline: auto;
}
.pd-x {
  padding-left: 60px;
  padding-right: 60px;
}
.title-primary {
  font-weight: 700;
  font-size: 65px;
  line-height: 74px;
  color: var(--c-main);
  font-family: var(--font-add);
}
.title-secondary {
  font-family: var(--font-add);
  font-weight: 700;
  font-size: 50px;
  line-height: 157%;
  color: var(--c-add);
}
.title-secondary.title-secondary_white {
  color: var(--c-white);
}
.text-primary {
  font-size: 20px;
}
.text-secondary {
  font-size: 20px;
  font-family: var(--font-main);
  line-height: 150%;
  font-weight: 500;
  color: var(--c-text);
}
.header {
  background: var(--c-white);
  padding: 25px 0;
  border-bottom: 1px solid var(--c-border);
}
.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__ul {
  display: flex;
  align-items: center;
  gap: 72px;
  margin: 0;
}

.nav__li {
  list-style: none;
}

.nav__a {
  text-decoration: none;
  color: var(--c-nav);
  font-family: var(--font-main);
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  transition: 0.5s all ease-in-out;
}

.nav__a:hover {
  text-decoration: underline;
}

.header__buttons {
  display: flex;
  gap: 35px;
  align-items: center;
}
.btn {
  border-radius: var(--b-radius-btn);
  display: inline-block;
  border: 0;
  outline: none;
  text-decoration: none;
  font-family: var(--font-main);
  font-size: 20px;
  line-height: 25px;
  font-weight: 400;
  cursor: pointer;
}
.btn_link {
  color: var(--c-black);
  transition: 0.3s all ease-in-out;
}
.btn_link:hover {
  background: var(--c-main);
  color: var(--c-white);
  padding: 13px 30px;
}
.btn_primary {
  background: var(--c-main);
  border: 1px solid var(--c-main);
  padding: 13px 50px;
  color: var(--c-white);
  transition: 0.3s all ease-in-out;
}
.btn_primary:hover {
  color: var(--c-black);
}
.main-screen {
  height: 100vh;
  margin-bottom: 170px;
}
.main-screen__wrapper {
  display: flex;
  height: 100%;
}
.main-screen__info {
  flex: 0 1 445px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  z-index: 2;
}

.main-screen__title {
  margin-bottom: 30px;
}

.main-screen__desc {
  margin-bottom: 53px;
}

.main-screen__btn {
  padding: 20px 50px;
}

.main-screen__image {
  position: absolute;
  right: 0;
  z-index: 1;
}
.how {
}
.how-header {
  display: grid;
  column-gap: 137px;
  grid-template-areas:
    "title title"
    "word description";
  margin-bottom: 82px;
}
.how-header__title {
  grid-area: title;
  font-family: var(--font-main);
  font-size: 24px;
  line-height: 38px;
  color: var(--c-text);
  font-weight: 600;
}
.how-header__word {
  grid-area: word;
  color: var(--c-main);
  font-size: 50px;
  line-height: 79px;
  font-family: var(--font-add);
  max-width: 584px;
}
.how-header__description {
  grid-area: description;
  font-size: 20px;
  line-height: 30px;
  color: var(--c-text);
  font-weight: 500;
}
.how {
  padding-bottom: 392px;
}
.how__wrapper {
}
.how-header {
}
.how-steps {
  display: flex;
  gap: 66px;
}
.step {
  max-width: 392px;
  display: flex;
  flex-direction: column;
  flex: 0 1 33.3%;
}
.step__title {
  font-size: 30px;
  line-height: 45px;
  font-family: var(--font-add);
  font-weight: 700;
  color: var(--c-black);
  margin-bottom: 20.72px;
}
.step__description {
  font-size: 20px;
  line-height: 30px;
  color: var(--c-text);
  font-family: var(--font-main);
  margin-bottom: 66px;
  flex-grow: 1;
}
.step__image {
  width: 100%;
}
.step__image img {
  max-width: 100%;
}
.story {
  background-color: var(--c-bg);
  padding: 229px 20px 177px 20px;
}
.story__wrapper {
  display: flex;
  gap: 31px;
}
.story__info {
  flex: 0 1 580px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.story__title {
  font-size: 50px;
  line-height: 79px;
  font-family: var(--font-add);
  font-weight: 700;
  color: var(--c-white);
  margin-bottom: 34px;
}
.story__description {
  font-family: var(--font-main);
  font-size: 25px;
  line-height: 39px;
  color: var(--c-white);
  margin-bottom: 55px;
}

.story__img img {
  max-width: 100%;
  cursor: pointer;
}
.product {
  padding: 120px 0 242px 0;
}
.product__wrapper {
  display: flex;
  gap: 87px;
}
.product__img img {
  max-width: 100%;
}
.product__info {
  flex: 0 1 584px;
  width: 100%;
}
.info__title {
  font-family: var(--font-main);
  font-size: 25px;
  line-height: 39px;
  color: var(--c-text);
  margin-bottom: 10px;
  font-weight: 600;
}
.info__word {
  color: var(--c-main);
  font-size: 50px;
  line-height: 79px;
  font-family: var(--font-add);
  margin-bottom: 20px;
  font-weight: 700;
}
.info__description {
  font-family: var(--font-main);
  line-height: 31.4px;
  font-size: 20px;
  color: var(--c-text);
  margin-bottom: 40px;
  max-width: 530px;
}
.footer {
  background-color: var(--c-bg);

  padding: 95px 0 83px 0;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.footer__nav .nav__ul {
  gap: 60px;
}
.footer__nav .nav__a {
  font-family: var(--font-main);
  font-size: 25px;
  line-height: 30px;
  color: var(--c-white);
  font-weight: 600;
}
/*BREAKPOINT XL*/
@media (max-width: 1200px) {
  .header__nav {
    display: none;
  }
  .main-screen__info {
    justify-content: center;
    padding: 20px;
    flex: 0 1 500px;
  }
  .main-screen__title,
  .main-screen__desc {
    background: rgba(232, 226, 226, 0.7);
    padding: 10px;
    border-radius: var(--b-radius);
  }
  .main-screen__image,
  .main-screen__image img {
    width: 100%;
  }
  .how {
    padding-bottom: 50px;
  }
  .how-header {
    grid-template-areas:
      "title"
      "word"
      "description";
  }
  .how-steps {
    flex-direction: column;
  }
  .step {
    width: 100%;
    max-width: fit-content;
  }
  .step__image {
    width: 100%;
  }

  .step__image img {
    width: 100%;
    max-height: 350px;
    object-fit: cover;
    border-radius: var(--b-radius);
  }
  .story {
    padding: 50px;
  }
  .story__wrapper,
  .product__wrapper {
    flex-direction: column;
  }
  .story__info,
  .product__info {
    flex: 1 1 100%;
  }
  .story__img img,
  .product__img img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: var(--b-radius);
  }
  .product {
    padding-bottom: 50px;
  }
  .footer__wrapper {
    flex-direction: column;
    gap: 50px;
  }
}
/*BREAKPOINTS MD*/
@media (max-width: 720px) {
  .main-screen__wrapper {
    flex-wrap: wrap-reverse;
    margin-bottom: 50px;
    padding-left: 0;
    padding-right: 0;
    height: auto;
  }
  .main-screen {
    height: auto;
    margin-bottom: 0;
  }
  .main-screen__info {
    padding-left: 60px;
    padding-right: 60px;
    max-width: fit-content;
  }
  .main-screen__title {
    font-size: 40px;
  }
  .main-screen__desc {
    font-size: 25px;
  }
  .main-screen__image {
    position: static;
    z-index: -1;
    transform: translateX(40px);
  }
  .how-header__word,
  .main-screen__title,
  .info__word {
    font-size: 30px;
    line-height: 45px;
    margin-bottom: 15px;
  }

  .footer {
    padding: 30px 0 30px 0;
  }
  .footer__nav .nav__ul {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .footer__nav .nav__a {
    font-weight: 300;
    font-size: 20px;
  }
  ul {
    padding-left: 0;
  }
  .btn_primary {
    padding: 13px 15px;
    font-size: 18px;
  }
  .main-screen__desc,
  .how-header__description,
  .step__description,
  .info__description {
    font-size: 18px;
    line-height: 25px;
  }
  .how-header__title,
  .info__title {
    font-size: 20px;
    font-weight: 500;
  }
  .story__title {
    font-size: 40px;
    line-height: 60px;
  }
  .header__buttons {
    display: none;
  }
  .product__wrapper {
    gap: 60px;
  }
  .product {
    padding: 60px 0 60px 0;
  }
}

.menu-wrapper {
  width: 200px;
  height: 40px;
  text-align: center;
  position: relative;
  display: none;
}

input {
  display: none;
}
label {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.burger-line {
  position: absolute;
  top: 8px;
  right: 0;
  width: 35px;
  height: 2px;
  background-color: #000;
  transition: 0.5s all ease-in-out;
}
.second,
.third {
  top: 18px;
}
.fourth {
  top: 28px;
}

.burger__nav .nav__ul {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  z-index: 3;
  padding-left: 0;
  background: #d4cdcd78;
  border-radius: var(--b-radius-btn);
}
.burger__nav a {
  display: block;
  width: 100%;
  padding: 15px 40px 15px 40px;
  text-decoration: none;
  border-top: #292929;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}
.burger__nav a:hover {
  color: #200bde;
}
.burger__nav {
  display: none;
  transition: 0.5s all ease-in-out;
}
input:checked ~ .burger__nav {
  display: block;
}
input:checked ~ .first {
  display: none;
}
input:checked ~ .second {
  transform: rotate(45deg);
}
input:checked ~ .third {
  transform: rotate(-45deg);
}
input:checked ~ .fourth {
  display: none;
}

@media (max-width: 1200px) {
  .menu-wrapper {
    display: block;
  }
}
